@use '../../app/mobile' as break;

h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 29.04px;
}

input {
  width: 386px;
  border: 1px solid var(--border-gray);
  border-radius: 8px;
  padding: 16px;
  margin-top: 8px;
  outline-color: #c7c7c7;

  @include break.mobile {
    width: 100%;
  }

  &::placeholder {
    color: var(--text-secondary-color);
  }
}

p {
  color: var(--text-secondary-color);
}

.div-buttons {
  display: flex;
  gap: 16px;

  @include break.mobile {
    flex-direction: column;
  }
}

